FRANKLIN ORELLANA/0106915663EVALUACION/ClienteFarmaceutico/src/conf/xml-resources/web-service-references/ConversionWS/wsdl/localhost_8080/ServicioFarmaceutico/ConversionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ConversionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioFarmaceutico/ConversionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="crearDatos">
<part name="parameters" element="tns:crearDatos"/>
</message>
<message name="crearDatosResponse">
<part name="parameters" element="tns:crearDatosResponse"/>
</message>
<message name="obtenerNombresProductos">
<part name="parameters" element="tns:obtenerNombresProductos"/>
</message>
<message name="obtenerNombresProductosResponse">
<part name="parameters" element="tns:obtenerNombresProductosResponse"/>
</message>
<message name="obtenerNombresFarmacias">
<part name="parameters" element="tns:obtenerNombresFarmacias"/>
</message>
<message name="obtenerNombresFarmaciasResponse">
<part name="parameters" element="tns:obtenerNombresFarmaciasResponse"/>
</message>
<message name="buscarProductoPorNombre">
<part name="parameters" element="tns:buscarProductoPorNombre"/>
</message>
<message name="buscarProductoPorNombreResponse">
<part name="parameters" element="tns:buscarProductoPorNombreResponse"/>
</message>
<message name="eliminarProductoPorNombre">
<part name="parameters" element="tns:eliminarProductoPorNombre"/>
</message>
<message name="eliminarProductoPorNombreResponse">
<part name="parameters" element="tns:eliminarProductoPorNombreResponse"/>
</message>
<message name="crearProducto">
<part name="parameters" element="tns:crearProducto"/>
</message>
<message name="crearProductoResponse">
<part name="parameters" element="tns:crearProductoResponse"/>
</message>
<portType name="ConversionWS">
<operation name="crearDatos">
<input wsam:Action="http://ws/ConversionWS/crearDatosRequest" message="tns:crearDatos"/>
<output wsam:Action="http://ws/ConversionWS/crearDatosResponse" message="tns:crearDatosResponse"/>
</operation>
<operation name="obtenerNombresProductos">
<input wsam:Action="http://ws/ConversionWS/obtenerNombresProductosRequest" message="tns:obtenerNombresProductos"/>
<output wsam:Action="http://ws/ConversionWS/obtenerNombresProductosResponse" message="tns:obtenerNombresProductosResponse"/>
</operation>
<operation name="obtenerNombresFarmacias">
<input wsam:Action="http://ws/ConversionWS/obtenerNombresFarmaciasRequest" message="tns:obtenerNombresFarmacias"/>
<output wsam:Action="http://ws/ConversionWS/obtenerNombresFarmaciasResponse" message="tns:obtenerNombresFarmaciasResponse"/>
</operation>
<operation name="buscarProductoPorNombre">
<input wsam:Action="http://ws/ConversionWS/buscarProductoPorNombreRequest" message="tns:buscarProductoPorNombre"/>
<output wsam:Action="http://ws/ConversionWS/buscarProductoPorNombreResponse" message="tns:buscarProductoPorNombreResponse"/>
</operation>
<operation name="eliminarProductoPorNombre">
<input wsam:Action="http://ws/ConversionWS/eliminarProductoPorNombreRequest" message="tns:eliminarProductoPorNombre"/>
<output wsam:Action="http://ws/ConversionWS/eliminarProductoPorNombreResponse" message="tns:eliminarProductoPorNombreResponse"/>
</operation>
<operation name="crearProducto">
<input wsam:Action="http://ws/ConversionWS/crearProductoRequest" message="tns:crearProducto"/>
<output wsam:Action="http://ws/ConversionWS/crearProductoResponse" message="tns:crearProductoResponse"/>
</operation>
</portType>
<binding name="ConversionWSPortBinding" type="tns:ConversionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresProductos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerNombresFarmacias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarProductoPorNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarProductoPorNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearProducto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversionWS">
<port name="ConversionWSPort" binding="tns:ConversionWSPortBinding">
<soap:address location="http://localhost:8080/ServicioFarmaceutico/ConversionWS"/>
</port>
</service>
</definitions>